
.ipynb_checkpoints/BGE Bill Data Extraction 1 -checkpoint.ipynb
.ipynb_checkpoints/BGE Bill Data Extraction-checkpoint.ipynb
.ipynb_checkpoints/BGE Bill Data Extraction-checkpoint.ipynb
.ipynb_checkpoints/BGE Bill Data Extraction-checkpoint.ipynb
.ipynb_checkpoints/BGE Bill Data Extraction-checkpoint.ipynb
